* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #352f2f;
    overflow: auto;
    padding: 20px;
    width: 1000vh;
}

.titulo {
    color: white;  
    font-family: sans-serif;
    font-size: 28px;  

}

.nav-lateral {
    float: left;
    background-color: #4f4544;
    padding: 20px;
    display: block;
    width: 130px;
    height: 600px;
    transition: all 3s linear;
}

.nav-lateral ul {
    list-style: none;
}

.nav-lateral ul li a {
   text-decoration: none;
   color: white;
   font-family: sans-serif;
}

/* .nav-lateral ul li a:hover{
    background-color: #bbb;
} */

.bt {
    display: none;
    background-color: #352f2f;
    border: none;
    border-radius: 20;
    outline: none;
    top: 0px;
    padding:  20px;
    font-family: sans-serif;
    font-size: 20px;
    color: white; 
    transition: all 300ms;
    cursor: pointer;
}

.bt:active, .bt:hover {
    background-color: white;
    color: #352f2f;
}

.accordeon {
    width: 70%;
    float: left;
    margin: auto;
    margin-left: 20px; 
}

.botao-accordeon {
    background-color: pink;
    cursor: pointer;
}

.botao-accordeon>a {
    text-decoration: none;
}

 @media screen and (max-width: 480px){

    .cabecalho {
        overflow: auto;
    }

    .titulo {
        margin: 50px;
    }

    .bt {
        display: block;
        float: left;
        position: fixed;        
    }

    .nav-lateral {
        display: none;
    }


    .conteudo-acordeon {
        /* margin-left: 30px;  */
        /* position: relative; */
        /* margin-right: 30px; */
        overflow: hidden;
        min-height: 0px;
        max-height: 0px;
        animation-duration: 0.8s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1; 
    }
}

@keyframes abrir-conteudo {
    from {
        min-height: 0px;
        max-height: 0px;
    }    
    to {
        min-height: 50px;
        max-height: 50px;
    }
}

@keyframes fechar-conteudo {
    from {
        min-height: 50px;
        max-height: 50px;
    }    
    to {
        min-height: 0px;
        max-height: 0px;
    }
}