* {
    padding: 0;
    margin: 0;
}

body{
    font-family: "Segoe UI", Arial, sans-serif;
   
}
header  {
box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.35);
position: relative;
z-index: 1;
}

header > .cabecalho {
    background-color: #795745; 
    padding: 20px;
}

header > .nav-superior {
    overflow: auto;
    background-color: #795745;
    padding-left: 10px; 
  
}

.nav-superior ul {
    list-style: none;
}

.dropdown {
    float: left;
   
}

.nav-superior ul > li > a, 
.dropdown .dropdown-button {
    text-decoration: none;
    color: white;
    position: relative;
    text-transform: uppercase;
}

.dropdown .dropdown-button {
    float: none;
    padding: 10px;
}

.dropdown-content {
    position: absolute;
    overflow: hidden;
    max-height: 0;
    background-color: #795745;
    width: 150px;
    float: left;
    transition: max-height 300ms;
    box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.35);/*como colocar a sombra só na parte inferior?*/
}

.dropdown-content:hover {
    overflow: visible;
    max-height: 1000px;
}

.dropdown-content > ul > li > a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: white;
}

.dropdown .dropdown-button:hover{ 
    color: white;
    background-color: #5e4337;
}

.nav-superior ul > li > a:hover {
    background-color: #5e4337;
    color: white;
}

.dropdown:hover .dropdown-content {
    overflow: auto;
    max-height: 1000px;
}

h3 {
    padding: 15px 15px 10px 20px; 
    font-family: "Segoe UI",Arial,sans-serif;
    color: #5e4337;
}

.nav-lateral {
    background: linear-gradient(#efefef,white);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.35);
    
}

.nav-lateral ul {
    list-style: none;
}

.nav-lateral ul li a {
    display: block;
    padding-left: 20px;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #5e4337;
}

.nav-lateral ul li a:hover {
    background-color: #ff276c;
    color: white;
}

.nav-direita {
	
    position: relative;
    margin: auto;
    text-align: center;
    background-color: white; 
}

.nav-direita ul {
    list-style: none;
    text-align: center; 
    padding: 15px;
}

.nav-direita ul li a {
    display: block;
    text-decoration: none;
    font-family: "Segoe UI",Arial,sans-serif;
    color: #5e4337;
}

.nav-direita ul li a:hover {
    cursor: pointer;
    background-color:#ff276c; 
    color: white;

}

.container{
    margin-left: 20px; 
 
    position: relative;
}

img {
    margin: auto;
    margin-top: 50px;
    z-index: -10;
    position: relative;
    animation: mymove 3s infinite;
    animation-timing-function: linear;
}

/* footer {
	background: rgb(16, 15, 15);
    color:white;
    padding: 10px;
    font: 11px "Segoe UI",Arial,sans-serif;
    text-align: center;
    position: relative;
    bottom: 0;
    display: block;
}   

footer a {
    color:white;
}    */


@keyframes mymove {
    from {left: 30px;
    transform: rotate(0deg);
} to {left: 150px;
        transform: rotate(360deg);}
}

@media screen and (min-width:600px) {
    .nav-lateral {
        float: left;
        width: 15%;
        position: relative;
        height: 100vh;
    }
    
    .nav-direita {
        float: right;
        width: 10vw;
        height: 100%; 
        position: relative;
        z-index: -10;
        top: 40%;
        right: 3%;
    }

    .container {
        width:70%;
        float: left;
        margin: auto; 
        margin-left: 20px; 
    }

    /* footer {
        position: absolute ;
        width: 100%;
        height: 60px;
    }   */

    @keyframes mymove {
        from {left: 30px;
        transform: rotate(0deg);
    } to {left: 200px;
            transform: rotate(360deg);}
    }
}
