body{
    background-color: white;
    margin: auto;

}

h1{
    font:38px helveticaneue, Arial, Tahoma, Sans-serif;
    text-align: center;
    margin: auto;
    color: white;
}

h2 {
    font:25px helveticaneue, Arial, Tahoma, Sans-serif;
    font-weight: bold;

}

a{
    padding: 0px 10px 0px 10px;
    color:white;
    text-decoration: none;
}

p {
    font:15px helveticaneue, Arial, Tahoma, Sans-serif;
    font-weight: ligth;
    text-align: justify;
}

.container{
    margin:auto;
    width: 1000px;
}

#bor{
    padding: 50px;
    background-color: rgba(248, 246, 246, 0.76);
}

.cabecalho {
    padding: 10px 100px 10px 10px;
    text-align:left;
    background-color: #E30C1C;
}

#menu {
    background: rgb(173, 36, 33);
    padding: 10px 100px 10px 10px;
    text-align: center;
    font:15px helveticaneue, Arial, Tahoma, Sans-serif;
}

.alinhar {
	display: inline-block;
	width: 90px;
}

input:hover{
	color:#606060;
	border:2px solid #000fff
}

.bt{
	cursor: pointer;
}

video {
    align-self: center;
}

footer{
	background: rgb(16, 15, 15);
    color:white;
    display: block;
    padding: 1em;
    font:11px helveticaneue, Arial, Tahoma, Sans-serif;
    clear: left;
    text-align: left;
}   